:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

/* CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: outfit;
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: young-serif;
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}


/* element-level selectors */

body {
    background-color: var(--stone-100);
    color: var(--stone-900);

    font-family: outfit, sans-serif;
    font-weight: 400;
    font-size: 16px;

    letter-spacing: 0;
    line-height: 150%;

    position: relative;
    /* the .attribution element will be positioned with respect
    to the body if `position` is set */

    display: flex;
}

ul, ol {
    list-style-position: inside;

    padding: 0 8px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

li::marker {
    color: var(--brown-800);

    font-weight: 700;
}

h1 {
    font-family: young-serif, serif;
    font-size: 40px;
    line-height: 100%;

    margin-bottom: 24px;
}

h2 {
    color: var(--brown-800);

    font-family: young-serif, serif;
    font-size: 28px;
    line-height: 100%;

    margin-bottom: 30px;
}

h3 {
    color: var(--rose-800);

    font-size: 20px;

    margin-bottom: 16px;
}

b {
    font-weight: 700;
}


/* class-level selectors */

.recipe {
    background-color: var(--white);

    width: 736px;
    border-radius: 24px;
    padding: 40px;
    /*margin: 128px auto;     !* Figma margin *!*/
    margin: 122px auto;
}

.recipe-image img {
    width: 100%;
    border-radius: 12px;
    /*margin-bottom: 40px;    !* Figma margin *!*/
    margin-bottom: 36px;
}

.recipe-text {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.recipe-preparation-time {
    background-color: var(--rose-50);

    padding: 24px;
    border-radius: 12px;
}

.recipe-preparation-time ul li::marker {
    color: var(--rose-800);
}

.recipe-instructions h2 {
    /*margin-bottom: 30px;    !* Figma margin *!*/
    margin-bottom: 18px;
}

.recipe-nutrition h2 {
    /*margin-bottom: 30px;    !* Figma margin *!*/
    margin-bottom: 20px;
}


/* table-related css */

table {
    width: 100%;
    margin-top: 24px;

    border-collapse: collapse;
}

th, td {
    text-align: left;

    width: 50%;
    border-top: 1px solid var(--stone-150);
    border-bottom: 1px solid var(--stone-150);
    padding: 12px 0;
}

th {
    font-weight: 400;

    padding-left: 32px;

}

td {
    font-weight: 700;
    color: var(--brown-800);

    padding-left: 12px;
}

tr:first-child th, tr:first-child td {
    border-top: unset;
    padding-top: 0;

}

tr:last-child th, tr:last-child td {
    border-bottom: unset;
    padding-bottom: 0;
}


@media all and (max-width: 500px) {
    h1 {
        font-size: 36px;
    }

    .recipe {
        width: 100%;
        border-radius: 0;
        padding: 40px 32px;
        margin: 0;
    }

    .recipe-image img {
        width: calc(100% + 2*32px);
        border-radius: 0px;
        /* Negative margins allow elements to go outside the
         bounds of the parent element */
        margin: -40px -32px 36px -32px;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;

    width: 100%;
    padding: 16px;

    position: absolute;
    left: 0;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
